</div>
</div>
</div><!-- /.container -->
<br>
<br>
<div>

  <div id="footer_1st">
    <p><a href="#"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a></p>
    <p><a href="#">Back Top</a></p>
  </div>

<!--SECTION TWO-->

<div id="footer_2nd">

  <div>
    <p>JOIN Us ON</p>
    <div class="social">
      <p><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></p>
      <p><a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a></p>
      <p><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></p>
    </div>
  </div>

  <div>
    <p>ABOUT MESHMALL</p>
    <div class="about">
      <p><a href="#">About Us</a></p>
      <p><a href="#">MeshMall Careers</a></p>
      <p><a href="#">Terms and Conditions</a></p>
      <p><a href="#">Privacy Policy</a></p>
      <p><a href="#">Return Policy</a></p>
      <p><a href="#">Help Center</a></p>
    </div>
  </div>


  <div>
<P>CONTACT US</P>
    <div>
      <p>+254 795 661 900</p>
    </div>
  </div>
</div>

<!--END OF FOOTER-->
</div>
<br>
<hr>
<p class="text-center">&COPY; MeshMall</p>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
