<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Changa|Pragati+Narrow|Teko&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/wellcome.css" />
</head>
<body>
    <div class="container">
        <div class="welcome_user">
          <!--section one-->
          <div class="welcome_order">
              <div><a href="/">MeshMall</a></div>
              <div class="spacer"></div>
              <div>call<span>:</span> +254 100915110</div>
          </div>

          <!--section two-->
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="sec-two">
              <div>
                  <p><span></span></p>
              </div>
          </div>
        </div>
    </div>
</body>
</html> 
